In [1]:
import pandas as pd
import numpy as np

%matplotlib tk
# %matplotlib inline
import matplotlib.pyplot as plt

Import and inspect data

In [14]:
# read in data
data_folder = "D:/OneDrive/Code/WaveGVS/Data/005/"
data_file = data_folder + "005_stepGVS_zero-one-two-headtilted_20180814_094807.txt"
df = pd.read_csv(data_file, sep="; ", engine="python")

In [15]:
df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>trial_nr</th>
      <th>current</th>
      <th>line_offset</th>
      <th>line_ori</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2.0</td>
      <td>2</td>
      <td>[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>0.0</td>
      <td>-2</td>
      <td>[-1.25, -1.25, -1.25, -1.25, -1.25, -1.25, -1....</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2.0</td>
      <td>-2</td>
      <td>[-5.5, -5.5, -5.5, -5.5, -5.5, -5.5, -5.5, -5....</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2.0</td>
      <td>3</td>
      <td>[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>1.0</td>
      <td>2</td>
      <td>[-1.5, -1.5, -1.5, -1.5, -1.5, -1.5, -1.5, -1....</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>2.0</td>
      <td>1</td>
      <td>[-5.25, -5.25, -5.25, -5.25, -5.25, -5.25, -5....</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>1.0</td>
      <td>-3</td>
      <td>[-2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2....</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>1.0</td>
      <td>-4</td>
      <td>[-5.5, -5.5, -5.5, -5.5, -5.5, -5.5, -5.5, -5....</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>2.0</td>
      <td>-3</td>
      <td>[-4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4.5, -4....</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>1.0</td>
      <td>-5</td>
      <td>[-2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2.5, -2....</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
df.dtypes

trial_nr         int64
current        float64
line_offset      int64
line_ori        object
dtype: object

Data correction and preprocessing

In [17]:
# outer list comprehension turns string into list
# nested: turn strings inside the list into float
df["line_ori"] = [[float(y) for y in x.strip("[]").split(",")] for x in df["line_ori"]]

In [18]:
# get conditions
currents = sorted(df["current"].unique())
c = len(currents)

In [19]:
# get endpoint of each trial
df["SVV"] = np.nan
for index, row in df.iterrows():
    df.loc[index, "SVV"] = row["line_ori"][-1]

Plot data

In [24]:
# plot raw line orientation traces
plt.figure()
count = 0
for curr in currents:
    count += 1
    plt.subplot(c, 1, count)
    selection = df[(df["current"] == curr)]
    for index, row in selection.iterrows():
        orientation = row["line_ori"]
        # collapse over offset angles
        # orientation = [x - row["line_offset"] for x in orientation]
        samples = np.arange(0, len(orientation))

        plt.plot(samples, orientation)

    plt.title("{0} mA".format(curr))
    plt.ylabel("SVV (deg)")
    plt.xlabel("t (samples)")
    plt.ylim((-11, 2))
plt.tight_layout()

In [25]:
# plot endpoints per current
count = 0
x_tick_positions = []
plotlabels = []
fig, ax = plt.subplots()
jitter_width = 0.4

for curr in currents:
    count += 1
    x_tick_positions.append(count)
    plotlabels.append("{0} mA".format(curr))
    selection = df[(df["current"] == curr)]
    for index, row in selection.iterrows():
        x = count + np.random.rand() * jitter_width - (jitter_width / 2)
        plt.scatter(x, row["SVV"], color="blue", alpha=0.2)

    mean_amp = np.mean(selection["SVV"])
    std_amp = np.std(selection["SVV"])
    plt.errorbar(count, mean_amp, yerr=std_amp, ecolor="red", alpha=0.5)
    plt.scatter(count, mean_amp, color="red", alpha=0.5)

    plt.xticks(x_tick_positions)
    ax.set_xticklabels(plotlabels)
    plt.ylabel("final SVV (deg)")
    plt.title("line setting at end of trial")
plt.tight_layout()